{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="header">
        <h1>{% block header_title %}Default Header{% endblock %}</h1>
        <nav class="nav-menu">
            <a href="/" class="nav-link">TOP画面</a>
            <a href="#" class="nav-link" onclick="openFlowList()">フロー一覧</a>
            <a href="#" class="nav-link" onclick="openModelSettings()">モデル設定</a>
            <a href="{% url 'help_page' %}" class="nav-link">ヘルプ</a>  <!-- ヘルプリンクを追加 -->
        </nav>
    </div>

    {% csrf_token %}

    {% block content %}{% endblock %}

    <!-- フロー一覧モーダル -->
    <div id="flowListModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>フロー一覧</h2>
            <ul id="flowList" class="flow-list">
                <!-- フローリストがここに動的に追加されます -->
            </ul>
        </div>
    </div>

    <!-- モデル設定モーダル -->
    {% include 'flow/model_settings_modal.html' %}

    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>